<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'css/style3.css' %}">

<body>
    <div class="main-div">
        <div class="head-div">
            <div class="invoice">
                <h1>Order Summary</h1>
            </div>
            <div class="dailymart">
                <a style="color:white;text-decoration: none;" href="{% url 'homepage' %}">
                    <h1>DailyMart</h1>
                </a>
            </div>
        </div>
        <div class="second-div">
            <div class="address">
                <h2>Deliver to:</h2>
                <p>Wilhelm Mraz,</p>
                <p>993 Joelle Mission,</p>
                <p>Hayesside,</p>
                <p>Iowa,</p>
                <p>040375,</p>
                <p>Phone Number:9876543210</p>
            </div>
            <div class="date">
                <h2>Delivery Details:</h2>
                <p>FREE Delivery</p>
                <p>Delivery by 17th Feb,Friday</p>
                <p>10 Days Return Policy</p>
            </div>
        </div>
        <div class="third-div">
            <div class="details">
                <h2>Product Details:</h2>
                <img src="{{data.img.url}}" alt="">
                <p>Name:{{data.name}}({{q}} items)</p>
            </div>
            <div class="price">
                <h2>Price Details:</h2>
                <p>Quantity:{{q}}</p>
                <p>Unit price-Rs.{{data.price}}</p>
                <p>Discount -{{data.discount}}%</p>
                <p>Delivery Charges - FREE Delivery</p>
                <p>Total Amount - Rs.{{total2}}</p>
            </div>
        </div>
        <div class="buttonn">
            <form action="{% url 'thankyoupage' %}">
                <button type="submit"> Continue</button>
            </form>
        </div>
    </div>
















</body>

</html>