<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
<style>
    .product-info button {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding: 5px;
        font-size: 20px;
        color: rgb(0, 0, 0);
        background-color: #ffffff;
        border-radius: 2px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    }


    .product-info button:hover {
        background-color: red;
    }
</style>

<body>
    <div class="main-div">
        <div class="head-div">
            <div class='img-logo'>
                <img src="{% static 'img/download.png' %}" alt="">
                <a id="logo">DailyMart</a>
            </div>
            <a href="{% url 'homepage' %}"><b>HOME</b></a>
        </div>

        <div class="head-one-div">
            <center>
                <p>✯ Top Brands ✯ COD ✯ Premium Quality.</p>
            </center>
        </div>

        <div class="product-div">

            <div class="product">
                <center>
                    <div class="product-image">
                        <h1>{{data.name}}</h1>
                        <a href="">
                            <img class="product-img" src="{{data.img.url}}" alt="image">
                        </a>
                        <p>{{data.disc}}</p>

                    </div>
                </center>
            </div>
            <div class="details">
                <div class="product-info">


                    <p>FREE Delivery</p>
                    <p>Delivery by 17th Feb,Friday</p>
                    <p>10 Days Return Policy</p>

                    {% if data.price != total %}
                    <h4>Special Price</h4>
                    <h3><b style="color:red;">Flat {{data.discount}}% off</b></h3>
                    <h3><s style="color:red;size: 20px;">₹{{data.price}}</s>
                        {% endif %}
                        <h4>AMOUNT TO PAY:</h4>
                        <h2 style="color:red;"> ₹{{total}} </h2>
                        <form action="{% url 'billingpage' %}?id={{data.id}}" method="post">
                            {% csrf_token %}
                            <p>Quantity :<input type="number" placeholder="1" id="q" name="q" min="1" max="5" required>
                            </p><br>
                            <button type="submit">Check Out</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-div">
        <div class="discription">
            <h1>DailyMart</h1>
            <p>We are a market Store based in Thiruvananthapuram.</p>
            <p>We have Ambitious Development plans in various parts of Kerala.</p>
            <p>We offer a combination of in-store shopping experience combined with Online Shopping,
                Bundle Packs & Home Delivery options.</p>
            <h3> Connect with us :</h3>
        </div>
        <div class="social">
            <ul>
                <li>
                    <a href="#">
                        <img class="ss" src="{% static 'img/ig-instagram-icon.png' %}" alt="fb">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="ss" src="{% static 'img/linkedin-app-icon.png' %}" alt="wp">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="ss" src="{% static 'img/twitter-app-icon.png' %}" alt="tw">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="ss" src="{% static 'img/wa-whatsapp-icon.png' %}" alt="ln">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="ss" src="{% static 'img/youtube-app-icon.png' %}" alt="yb">
                    </a>
                </li>
            </ul>
        </div>
        <div class="copyright">
            <p>copyright &copy;2023 <a style="text-decoration: none;color:white;"
                    href="{% url 'homepage' %}">DailyMart</a> </p>
        </div>
    </div>
</body>

</html>