.body {
    margin: 0px;


}


.main-div {

    width: 100%;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

.head-div {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 10vh;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.invoice {
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 10vh;
    padding: 10px;
    text-align: left;
}

.dailymart {
    background-color: rgb(0, 0, 0);
    width: 50%;
    height: 10vh;
    padding: 10px;
    text-align: right;

}




.second-div {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 30vh;
    display: flex;
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.address {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 30vh;
    text-align: center;
}

.date {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 30vh;
    text-align: center;
}





.third-div {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 40vh;
    display: flex;
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.details {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 40vh;
    text-align: center;
}

.price {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 40vh;
    text-align: center;
}

.buttonn {
    width: 100%;
    height: 20vh;
    background-color: rgb(255, 255, 255);
    text-align: center;





}

.buttonn button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);

}

.buttonn button:hover {
    background-color: red;
}