.body{
    margin: 0;


}


.main-div{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height:220vh;
    font-family:'Times New Roman', Times, serif;

}

.head-div{
    background-color:black;
    top:0;
    width: 97.7%;
    height:5%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    overflow: hidden;
    position: fixed;

}

.first-div{
    background-color:white;
    
    width: 100%;
    height:100vh;
    font-family:'Times New Roman', Times, serif;
   
}

.head-div a{

    color:white;
    text-decoration: none;
    padding-right: 10px;

    

}

    
    

.body-div{
    width: 100%;
    height:95vh ;
    text-align: center;

}

.body-div h3 {
    
    font-size:xx-large;
    color: rgb(226, 43, 43);
}


.body-div button{
    width: 10%;
    height: 5%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 30PX;
}

.body-div button:hover{color:white;
    background-color: red;
}


#logo { 
    font-family: Monaco;
    color: rgb(255, 255, 255);
    position: relative;
    bottom:30px;
    right:10px


}

.img-logo img{ width: 60px;
    height: 60px;
    position: relative;
    bottom:12px ;
    right: 18px;
}

.img-logo{position: absolute;
    left:15px;


}

.second-div{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 80vh;
    color: black;
    font-family:'Times New Roman', Times, serif;
    

}

.body-two-div{
    color: black;
    width: 95%;
    height: 15%;
    background-color:white;
}

.head-two-div{
    
    background-color: rgb(255, 255, 255);
}

.head-two-div h2{
    color: red;
    font-size: xx-large;

}

.product-div{
    width: 100%;
    display: flex;
    gap:120px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(255, 255, 255, 0);
     border-radius:10px;
     margin: 20px;
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.product {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    max-width: 300px;
    width: 100%;
    margin: auto;
    text-align: center;

  }
  

  .footer-div{
    background-color: #000000;
    width: 100%;
    height:50vh;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.discription{
    width: 100%;
    height:25vh;
    color: white;
   

    text-align: center;
    padding-top:10px ;
}

.social{
    display: flex;
    justify-content: center;

}

.social ul{
    display: flex;
}

.discription h3{
    color: white;
    text-align: center;
}

.ss{
    display: flex;
    color: #000000;
    border: 1.1px solid rgb(0, 0, 0);
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    width: 35px;
}
.copyright{
    color: white;
    text-align: center;
}